# terraform

EKS/.terraform/
EKS/backend/.terraform/
EKS/backend/.terraform.lock.hcl
*.tfstate
EKS/.terraform.lock.hcl
EKS/backend/terraform.tfstate.backup
# kubernetes

k8s/backend/backend-secret.yaml
k8s/secrets.yaml
todo.txt
.env
